amqp==5.1.1
appdirs==1.4.4
asgiref==3.7.2
async-timeout==4.0.3
attrs==23.1.0
beautifulsoup4==4.12.2
billiard==4.1.0
cattrs==23.1.2
celery==5.3.4
certifi==2023.7.22
charset-normalizer==3.3.1
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
Django==4.2.6
django-celery-results==2.5.1
et-xmlfile==1.1.0
exceptiongroup==1.1.3
frozendict==2.3.8
html5lib==1.1
idna==3.4
kombu==5.3.2
lxml==4.9.3
multitasking==0.0.11
numpy==1.26.1
openpyxl==3.1.2
pandas==2.1.1
peewee==3.17.0
platformdirs==3.11.0
prompt-toolkit==3.0.39
pyrate-limiter==2.10.0
python-dateutil==2.8.2
pytz==2023.3.post1
redis==5.0.1
requests==2.31.0
requests-cache==1.1.0
requests-ratelimiter==0.4.2
scipy==1.11.3
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
typing_extensions==4.8.0
tzdata==2023.3
url-normalize==1.4.3
urllib3==2.0.7
vine==5.0.0
wcwidth==0.2.9
webencodings==0.5.1
yfinance==0.2.31
