{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    <link rel="icon" href="{% static 'images/icon10.svg' %}" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'CSS/home_style.css' %}">

    <title>Portfolio Track</title>
</head>
<body>
  
  <!-- Navbar begins----------------------------------->

  <nav class="navbar navbar-expand-lg shadow sticky-top px-2" aria-label="Offcanvas navbar large" style="background-color: rgba(255, 255, 255, 0.2);">
    <div class="container-fluid">
      
      <a class="navbar-brand ms-2" href="#"> <img src="{% static 'images/logo8.svg' %}" class="image-fluid rounded " alt="Logo"> </a>
        
          <div class="row ms-auto me-3 my-0">
            <a href="{% url 'login' %}" class="btn btn-success">Login</a>
          </div>
      
    </div>
  </nav>
  <!-- Navbar ends----------------------------------->

   
  
  <main class="container-fluid my-5 my-xxl-2">
    <div class="d-flex flex-column flex-lg-row gap-4" style="min-height: 100vh;">

        <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center ">
            
            <div class="card py-2" style="background-color: rgba(0, 0, 0, 0); border: 0px; color: whitesmoke;">
                <div class="card-body px-5">
                    <!-- <div class="row-12 d-flex"><h1 class="display-1">PORTIFOLIO</h1></div>
                    <div class="row-12 d-flex"><h1 class="display-5">TRACK</h1></div> -->
                    <img src="{% static 'images/logo8.svg' %}" alt="" style="width: 45vw;">
                    <div class="row-12 d-flex"><h1 class="display-6 responsive-text">Acompanhe de perto sua carteira!</h1></div>
  
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center">
            <div class="card py-2 col-10 col-md-8 col-lg-10 col-xl-10 col-xxl-8">
              <div class="card-body px-5">
                <form class="mb-3" action="{% url 'register' %}" method="POST">
                    {% csrf_token %}

                    <h1 class="h3 mb-3 fw-normal text-center">Cadastre-se</h1>
                                    
                    <div class="form-floating mb-4">
                      {{ form.first_name }}
                      <label>Nome</label>
                    </div>

                    <div class="form-floating mb-4">
                      {{ form.last_name }}
                      <label>Sobrenome</label>
                    </div>

                    <div class="form-floating">
                      {{ form.email }}
                      <label>Email</label>
                    </div>

                    <div class="form-floating my-4">
                      {{ form.password }}
                      <label>Senha</label>
                    </div>

                    <div class="form-floating my-4">
                      {{ form.confirm_password }}
                      <label>Repita a Senha</label>
                    </div>
                    
                    <button class="btn w-100 py-2 btn-success" type="submit">Cadastrar</button>
                    
                    {% if form.non_field_errors %}
                      <div class="mt-4 alert alert-danger d-flex align-items-center" role="alert">
                        {{ form.non_field_errors }}
                      </div>
                    {% endif %}

                </form>
                <small class="d-flex justify-content-center">Já é registrado?<a href="{% url 'login' %}">Login</a> </small>
              </div>
            </div>
            
        </div>
    </div>
  </main>

  
  <!-- Footer Begins ------------------------------------------------ -->
  <footer class="d-flex justify-content-center align-items-center py-3 my-0 shadow" style="background-color: rgba(255, 255, 255, 0.2); color: whitesmoke;">
    <div class="col-md-12 d-flex align-items-center justify-content-center" >
      <a href="#" class="mb-3 me-2 mb-md-0 text-decoration-none lh-1" style="color: whitesmoke;">
        helio.card@yahoo.com.br -
      </a>
      <span class="mb-3 mb-md-0">© 2023 Helio C Guimarães</span>
    </div>
  </footer>
  <!-- Footer Ends --------------------------------------------------- -->


  <!-- Mensagens de Erro: -------------------------------------------- -->
  {% include 'includes/message.html' %}
    
  
</body>
</html>





