{% extends 'base.html' %}
{% load static %}

{% block content %}
  
  <!-- Main Body begins ----------------------------------------------->
  <main role="main" class="col-12 col-xl-10">
    <div class="container-fluid my-2">

      <div class="row justify-content-center align-items-center my-2">
        <div class="col-12 col-md-6 my-2">
          <h4>Bem vindo, <span class="h4">{{ user.first_name }}!</span> </h4>
          <p class="m-0">Acompanhe de perto sua carteira!</p>
        </div>
        <div class="col-12 col-md-6 my-2 d-flex align-items-center justify-content-md-end">
          <h6>{{weekday}}, {{today}}</h6>
        </div>
      </div>

      <div class="card mt-5 mb-4 border-primary">
        <div class="card-header ps-5 border-primary">
          <div class="d-flex align-items-center flex-wrap">
            <div class="d-flex col-12 col-md-8 fs-5 text-primary">
              <span>
                Histórico de pagamentos:
                <div id="spinner" class="spinner-border spinner-border-sm text-primary" role="status" hidden>
                <span class="visually-hidden">Loading...</span>
                </div>
              </span>
            </div>
          </div>
        </div>
        <div class="card-body table-responsive mx-4">
          <table id="incomesTable" class="table table-hover table-responsive">
            <thead>
              <tr>
                <th scope="col" class="text-center">Ativo</th>
                <th scope="col" class="text-center">Data_Ex</th>
                <th scope="col" class="text-center">Valor</th>
                <th scope="col" class="text-center">Yield(%)</th>
              </tr>
            </thead>
            <tbody id="tableBody">
              
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </main>
  <!-- Main Body ends --------------------------------------------->
  

  {% include 'includes/message.html' %}
  
  <script>
    var getIncomesHistoryURL = "{% url 'get_incomes_history' %}"
  </script>

  <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
  <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
  <link rel="stylesheet" href="{% static 'CSS/custom-datatables.css' %}" />

  <script src="{% static 'js/incomesHistoryTable.js' %}"></script>
  <!-- <script>
    function updateUpdateURL() {
      var updateBalanceURL = "{% url 'update_balance' new_weights='PLACEHOLDER' %}".replace('PLACEHOLDER', JSON.stringify(objJson));
      document.getElementById('editWeightForm').action = updateBalanceURL
    }
  </script> -->

{% endblock %}


