{% extends 'base.html' %}
{% load static %}

{% block content %}
  
  <!-- Main Body begins ----------------------------------------------->
  <main role="main" class="col-12 col-xl-10">
    <div class="container-fluid my-2">

      <div class="row justify-content-center align-items-center my-2">
        <div class="col-12 col-md-6 my-2">
          <h4>Bem vindo, <span class="h4">{{ user.first_name }}!</span> </h4>
          <p class="m-0">Acompanhe de perto sua carteira!</p>
        </div>
        <div class="col-12 col-md-6 my-2 d-flex align-items-center justify-content-md-end">
          <h6>{{weekday}}, {{today}}</h6>
        </div>
      </div>

      <div class="row ms-0 mt-4 mb-1 d-flex align-items-center justify-content-start fs-5">
          <span>
            Defina o peso que cada ativo terá no portfolio:
            <div id="spinner" class="spinner-border spinner-border-sm text-primary" role="status" hidden>
              <span class="visually-hidden">Loading...</span>
            </div>
          </span>
      </div>
      <div class="container-fluid border rounded py-4 px-4 table-responsive" style="background-color: white;">
        <table id="portfolioTable" class="table table-responsive">
          <thead>
            <tr>
              <th scope="col" class="text-center">Ativos</th>
              <th scope="col" class="text-center">Qtde</th>
              <th scope="col" class="text-center">Cotação</th>
              <th scope="col" class="text-center">Patrim</th>
              <th scope="col" class="text-center">Peso</th>
              <th scope="col" class="text-center">(%)Ideal</th>
              <th scope="col" class="text-center">(%)Atual</th>
              <th scope="col" class="text-center">Equilíbrio</th>
            </tr>
          </thead>
          <tbody id="tableBody">
            
          </tbody>
        </table>
      </div>
      

      <div class="d-flex mt-3">
        <form id="meuForm" action="">
          <div class="form-row d-flex gap-3">
            <div class="col p-auto">
              <input type="text" id="campoJson" name="campoJson" class="form-control">
            </div>
            <div class="col">
              <button type="submit" class="btn btn-primary" onclick="preencherCampoJson()">Salvar Alterações</button>
            </div>
          </div>
        </form>
      </div>
      
    
      <script>
        function preencherCampoJson() {
          // Array de JSON para ser inserido no campo
          const arrayJson = [
            { nome: 'Item 1', valor: 10 },
            { nome: 'Item 2', valor: 20 },
            { nome: 'Item 3', valor: 30 }
          ];
    
          // Convertendo o array de JSON para uma string JSON
          const jsonString = JSON.stringify(arrayJson);
    
          // Atribuindo a string JSON ao valor do campo de entrada
          document.getElementById('campoJson').value = jsonString;
        }
      </script>




    </div>
  </main>
  <!-- Main Body ends --------------------------------------------->
  

  {% include 'includes/message.html' %}
  
  <script>
    var getBalanceURL = "{% url 'get_balance_data' %}"
  </script>
  <script src="{% static 'js/balanceTable.js' %}"></script>
  
    
{% endblock %}





