{% extends 'base.html' %}
{% load static %}

{% block content %}
  
  <!-- Main Body begins ----------------------------------------------->
  <main role="main" class="col-12 col-xl-10">
    <div class="container-fluid my-2">

      <div class="row justify-content-center align-items-center my-2">
        <div class="col-12 col-md-6 my-2">
          <h4>Bem vindo, <span class="h4">{{ user.first_name }}!</span> </h4>
          <p class="m-0">Acompanhe de perto sua carteira!</p>
        </div>
        <div class="col-12 col-md-6 my-2 d-flex align-items-center justify-content-md-end">
          <h6>{{weekday}}, {{today}}</h6>
        </div>
      </div>

      <div class="card mt-5 mb-4 border-primary">
        <div class="card-header ps-5 border-primary text-bg-primary">
          <div class="d-flex align-items-center flex-wrap">
            <div class="d-flex col-12 col-md-8 fs-5">
              <span>
                Balanceamento:
                <span 
                  class="badge rounded-circle border"
                  data-bs-toggle="tooltip"
                  data-bs-placement="right"
                  data-bs-title="Balanceamento: defina um peso para cada ativo no portfolio. O percentual de ideal de cada ativo será calculado da seguinte maneira: peso do ativo / soma de todos os pesos. 
                  A coluna 'Equilíbrio' indica qual valor deverá ser investido/desinvestido para que o ativo atinja o equilíbrio."
                >?</span>
                <div id="spinner" class="spinner-border spinner-border-sm text-light" role="status" hidden>
                <span class="visually-hidden">Loading...</span>
                </div>
              </span>
            </div>
            <div class="d-flex col-12 col-md-4 justify-content-md-end">
              <a href="#" id="btnUpdateURL" data-bs-toggle="modal" data-bs-target="#editWeightsModal" class="btn btn-outline-light disabled">Confirmar Alterações</a>
            </div>
          </div>
        </div>
        <div class="card-body table-responsive mx-4">
          <table id="balanceTable" class="table table-responsive">
            <thead>
              <tr>
                <th scope="col" class="text-center">Ativos</th>
                <th scope="col" class="text-center">Qtde</th>
                <th scope="col" class="text-center">Cotação</th>
                <th scope="col" class="text-center">Patrim</th>
                <th scope="col" class="text-center">Peso</th>
                <th scope="col" class="text-center">(%)Ideal</th>
                <th scope="col" class="text-center">(%)Atual</th>
                <th scope="col" class="text-center">Equilíbrio</th>
              </tr>
            </thead>
            <tbody id="tableBody">
              
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </main>
  <!-- Main Body ends --------------------------------------------->
  

  {% include 'includes/message.html' %}
  
  <script>
    var getBalanceURL = "{% url 'get_balance_data' %}"
    var baseURL = "{% url 'asset' ticker='PLACEHOLDER' %}"
  </script>
  <script src="{% static 'js/dataFromAPI.js' %}"></script>
  <script src="{% static 'js/balanceTable.js' %}"></script>
  <script>
    function updateUpdateURL() {
      var updateBalanceURL = "{% url 'update_balance' new_weights='PLACEHOLDER' %}".replace('PLACEHOLDER', JSON.stringify(objJson));
      document.getElementById('editWeightForm').action = updateBalanceURL
    }
  </script>
  <script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
  </script>

{% endblock %}


