{% extends 'base.html' %}
{% load static %}

{% block content %}
  
  <!-- Main Body begins ----------------------------------------------->
  <main role="main" class="col-12 col-xl-10">
    <div class="container-fluid my-2">

      <div class="row justify-content-center align-items-center my-2">
        <div class="col-12 col-md-6 my-2">
          <h4>Bem vindo, <span class="h4">{{ user.first_name }}!</span> </h4>
          <p class="m-0">Acompanhe de perto sua carteira!</p>
        </div>
        <div class="col-12 col-md-6 my-2 d-flex align-items-center justify-content-md-end">
          <h6>{{weekday}}, {{today}}</h6>
        </div>
      </div>
      
      <div class="card my-5 border-primary">
        <h5 class="card-header ps-md-5 text-primary py-0 border-primary">
          <div class="row ms-0 d-flex align-items-center justify-content-start">
            <div class="col-auto pt-3 ms-0 ps-0 fs-5">
              <p><span>Ativos: </span></p>
            </div>
            <div class="d-flex align-items-center col-lg-6 gap-2 p-0">
              <div class="form-check form-switch fs-6">
                <input class="form-check-input" type="checkbox" role="switch" id="dividendsSwitch">
                <label class="form-check-label" for="dividendsSwitch">Considerar reinvestimentos dos dividendos</label>
              </div>
              <div id="spinner" class="spinner-border spinner-border-sm text-primary" role="status" hidden>
                <span class="visually-hidden">Loading...</span>
              </div> 
            </div>
          </div>
        </h5>
        <div class="card-body mx-md-4 table-responsive">
          <table id="portfolioTable" class="table table-hover">
            <thead>
              <tr>
                <th scope="col" class="text-center">Ativos</th>
                <th scope="col" class="text-center">Classe</th>
                <th scope="col" class="text-center">Qtde</th>
                <th scope="col" class="text-center">Pr_Médio</th>
                <th scope="col" class="text-center">Cotação</th>
                <th scope="col" class="text-center">Aportes</th>
                <th scope="col" class="text-center">Patrim</th>
                <th scope="col" class="text-center">Prov</th>
                <th scope="col" class="text-center">Resultado</th>
                <th scope="col" class="text-center">(%)</th>
                <th scope="col" class="text-center">YoC%</th>
              </tr>
            </thead>
            <tbody id="tableBody"></tbody>
          </table>
        </div>
      </div>

    </div>
  </main>
  <!-- Main Body ends --------------------------------------------->
  

  {% include 'includes/message.html' %}
  
  
  <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
  <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
  <link rel="stylesheet" href="{% static 'CSS/custom-datatables.css' %}" />
  
 
  <script src="https://cdn.datatables.net/select/1.7.0/js/dataTables.select.min.js"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/select/1.7.0/css/select.dataTables.min.css">

  <script> var getPortfolioSummaryURL = "{% url 'get_portfolio_summary' subtract_dividends='N' %}" </script>

  <script src="{% static 'js/dataFromAPI.js' %}"></script>
  <script src="{% static 'js/portfolioSummaryTable.js' %}"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const dividendsSwitch = document.getElementById('dividendsSwitch');
      dividendsSwitch.addEventListener('change', async function () {
        if (this.checked) {
          document.querySelector('#spinner').hidden = false;
          document.getElementById('tableBody').innerHTML = ''
          var getPortfolioSummaryURL = "{% url 'get_portfolio_summary' subtract_dividends='Y' %}"
          await updatePortfolioSummary(getPortfolioSummaryURL)
          document.querySelector('#spinner').hidden = true;
        } else {
          document.querySelector('#spinner').hidden = false;
          document.getElementById('tableBody').innerHTML = ''
          var getPortfolioSummaryURL = "{% url 'get_portfolio_summary' subtract_dividends='N' %}"
          await updatePortfolioSummary(getPortfolioSummaryURL)
          document.querySelector('#spinner').hidden = true;
        }
      });
    });
  </script>
  
{% endblock %}





