
body{
    background-image: url('/static/images/background-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.responsive-text {
    font-size: 3vw;
}
