<!-- Modal (load file) begins--------------------------------------------------- -->
<div class="modal fade" id="load_file_modal" tabindex="-1" aria-labelledby="ModalLoadFile" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Carregar Transações de Arquivo Excel</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <form method="post" action="{% url 'upload_file' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                
                <div class="custom-file">
                    <!-- <input type="file" class="custom-file-input form-control" id="fileInput" accept=".xlsx" name="file" required> -->
                    {{ upload_file_form }}
                </div>
                <div class="d-flex justify-content-end mt-3 gap-2">
                  <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-primary" >Processar Transações</button>
                </div>
            </div>
          </form>
        </div>

        <hr class="d-flex my-0" style="border-top: 1px solid #ccc; opacity: 0.5;">

        <div class="modal-body d-flex justify-content-center align-items-center my-0">
          <p class="small"> Baixe <a href="{% url 'download_model_file' %}">aqui</a> o modelo de arquivo Excel (.xlsx).</p>
        </div>

      </div>
    </div>
</div>
<!-- Modal (load file) ends--------------------------------------------------- -->


<!-- Modal (register transaction) begins--------------------------------------------------- -->
<div class="modal fade" id="register_transaction_modal" tabindex="-1" aria-labelledby="ModalRegisterTransaction" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Cadastrar Transação</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body my-2">
            <form method="POST" action="{% url 'register_transaction' %}" enctype="multipart/form-data">
            {% csrf_token %}

                <div class="form-row d-flex mb-3 justify-content-center">
                    <div class="form-floating flex-grow-1 mx-2">
                    {{register_transaction_form.date}}
                    <label>Data</label>
                    </div>

                    <div class="form-floating flex-grow-1 mx-2">
                    {{register_transaction_form.ticker}}
                    <label>Ticker</label>
                    </div>
                </div>
                
                <div class="form-row d-flex mb-3 justify-content-center">
                    <div class="form-floating flex-grow-1 mx-2">
                    {{register_transaction_form.operation}}
                    <label>Operação</label>
                    </div>

                    <div class="form-floating flex-grow-1 mx-2">
                    {{register_transaction_form.sort_of}}
                    <label>Tipo</label>
                    </div>
                </div>

                <div class="form-row d-flex mb-3 justify-content-center">
                    <div class="form-floating flex-grow-1 mx-2">
                    {{register_transaction_form.quantity}}
                    <label>Quantidade</label>
                    </div>

                    <div class="form-floating flex-grow-1 mx-2">
                    {{register_transaction_form.unit_price}}
                    <label>Preço Unitário</label>
                    </div>
                </div>

                <div class="d-flex justify-content-end mt-3 mx-2 gap-3">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary" >Salvar Transação</button>
                </div>
            </form>  
        </div>
        <script>
            // O elemento id_date foi nomeado no formulário Django:
            flatpickr("#id_date", {
                altInput: true,
                altFormat: 'j \\de F \\de Y',
                allowInput: true,
                locale: "pt",
                theme: "material_green",
            });
        </script>

        </div>
    </div>
</div>
<!-- Modal (register transaction) ends--------------------------------------------------- -->

<!-- Modal (delete transaction) begins--------------------------------------------------- -->
<div class="modal fade" id="delete_transaction_modal" tabindex="-1" aria-labelledby="ModalDeleteTransaction" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Deletar Transação</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body my-2">
            <form method="POST" id="deleteTransactionForm" action="{% url 'delete_transaction' %}" enctype="multipart/form-data">
            {% csrf_token %}

                <div class="form-row mb-3">
                    <p id="questionMessage"></p>
                </div>

                <input type="hidden" name="ids" id="idsInput" value="">

                <div class="d-flex justify-content-end mt-3 mx-2 gap-3">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger" >Apagar</button>
                </div>

            </form>  
        </div>

        </div>
    </div>
</div>
<!-- Modal (delete transaction) ends--------------------------------------------------- -->

