
{% load static %}
<!-- Sidebar begins --------------------------------------------------------->
<div class="navbar navbar-expand-xl col-12 col-md-2 d-xl-block bg-body-tertiary border-end h6 m-0 p-0">
        
    <div class="offcanvas offcanvas-start m-0 p-0" data-bs-scroll="true" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header border-bottom">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Portfolio Track</h5>
        <button type="button" class="btn-close btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body-fluid px-xl-2 px-xxl-4 overflow-auto m-0 p-0">

        <!-- Conteúdo do menu lateral - início -->
        <ul class="list-unstyled mt-2">
          
          <!--adicionar a classe da li para li-active para deixar selecionado -->
          <li class="pt-2" >
            <a href="{% url 'dashboard' %}" class="d-flex side-btn gap-2 align-items-center" data-bs-toggle="no-collapse" data-bs-target="" aria-expanded="false">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bar-chart-line" viewBox="0 0 16 16">
                <path d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2zm1 12h2V2h-2v12zm-3 0V7H7v7h2zm-5 0v-3H2v3h2z"/>
              </svg>
              Dashboard
            </a>  
          </li>

          <hr style="opacity: 10%;">

          <li class="mb-1">
            <a href="#" class="d-flex side-btn gap-2 align-items-center" data-bs-toggle="collapse" data-bs-target="#portfolio-collapse" aria-expanded="true">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-wallet2" viewBox="0 0 16 16">
                <path d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499L12.136.326zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484L5.562 3zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z"/>
              </svg>
              Portfolio
            </a>
            <div class="collapse show" id="portfolio-collapse">
              <ul class="list-unstyled">
                <li class=""><a href="#" class="d-flex side-btn-list">Resumo</a></li> <!--adicionar a classe da li para li-active para deixar selecionado -->
                <li class=""><a href="#" class="d-flex side-btn-list">Balanceamento</a></li>
                <li class=""><a href="#" class="d-flex side-btn-list">Metas</a></li>
              </ul>
            </div>
          </li>

          <li class="mb-1">
            <a href="#" class="d-flex side-btn gap-2 align-items-center" data-bs-toggle="collapse" data-bs-target="#proventos-collapse" aria-expanded="true">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-coin" viewBox="0 0 16 16">
                <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9H5.5zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518l.087.02z"/>
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11zm0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"/>
              </svg>
              Proventos
            </a>
            <div class="collapse show" id="proventos-collapse">
              <ul class="list-unstyled">
                <li class=""><a href="#" class="d-flex side-btn-list">Evolução</a></li>
                <li class=""><a href="#" class="d-flex side-btn-list">Histórico</a></li>
              </ul>
            </div>
          </li>

          <li class="mb-1">
            <a href="#" class="d-flex side-btn gap-2 align-items-center" data-bs-toggle="collapse" data-bs-target="#transactions-collapse" aria-expanded="true">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z"/>
              </svg>
              Transações
            </a>
            <div class="collapse show" id="transactions-collapse">
              <ul class="list-unstyled">
                <li class=""><a href="#" class="d-flex side-btn-list">Visualizar</a></li>
                <li class=""><a href="#" data-bs-toggle="modal" data-bs-target="#register_transaction_modal" class="d-flex side-btn-list">Adicionar</a></li>
                <li class=""><a href="#" data-bs-toggle="modal" data-bs-target="#load_file_modal" class="d-flex side-btn-list">Carregar de Arquivo</a></li>
              </ul>
            </div>
          </li>

          <hr style="opacity: 10%;">

          <li class="my-3"></li>
          <li class="mb-1">
            <a href="#" class="d-flex side-btn gap-2 align-items-center" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="true">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-gear" viewBox="0 0 16 16">
                <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm.256 7a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Zm3.63-4.54c.18-.613 1.048-.613 1.229 0l.043.148a.64.64 0 0 0 .921.382l.136-.074c.561-.306 1.175.308.87.869l-.075.136a.64.64 0 0 0 .382.92l.149.045c.612.18.612 1.048 0 1.229l-.15.043a.64.64 0 0 0-.38.921l.074.136c.305.561-.309 1.175-.87.87l-.136-.075a.64.64 0 0 0-.92.382l-.045.149c-.18.612-1.048.612-1.229 0l-.043-.15a.64.64 0 0 0-.921-.38l-.136.074c-.561.305-1.175-.309-.87-.87l.075-.136a.64.64 0 0 0-.382-.92l-.148-.045c-.613-.18-.613-1.048 0-1.229l.148-.043a.64.64 0 0 0 .382-.921l-.074-.136c-.306-.561.308-1.175.869-.87l.136.075a.64.64 0 0 0 .92-.382l.045-.148ZM14 12.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0Z"/>
              </svg>
              Conta
            </a>
            <div class="collapse show" id="account-collapse">
              <ul class="list-unstyled">
                <li class=""><a href="#" class="d-flex side-btn-list">Perfil</a></li>
                <li class=""><a href="{% url 'logout' %}" class="d-flex side-btn-list">Sair</a></li>
              </ul>
            </div>
          </li>
        </ul>
        <!-- Conteúdo do menu lateral - fim -->

      </div>
    </div>
  </div>
  <!-- Sidebar ends --------------------------------------------------->


  <!-- Modal (load file) begins--------------------------------------------------- -->
  <div class="modal fade" id="load_file_modal" tabindex="-1" aria-labelledby="ModalLoadFile" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Carregar Transações de Arquivo Excel</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <form method="post" action="{% url 'upload_file' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                
                <div class="custom-file">
                    <!-- <input type="file" class="custom-file-input form-control" id="fileInput" accept=".xlsx" name="file" required> -->
                    {{ upload_file_form }}
                </div>
                <div class="d-flex justify-content-end mt-3 gap-2">
                  <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-primary" >Carregar Arquivo</button>
                </div>
            </div>
          </form>
        </div>

        <hr class="d-flex my-0" style="border-top: 1px solid #ccc; opacity: 0.5;">

        <div class="modal-body d-flex justify-content-center align-items-center my-0">
          <p class="small"> Baixe <a href="{% url 'download_model_file' %}">aqui</a> o modelo de arquivo Excel (.xlsx).</p>
        </div>

      </div>
    </div>
  </div>
  <!-- Modal (load file) ends--------------------------------------------------- -->


  <!-- Modal (register transaction) begins--------------------------------------------------- -->
  <div class="modal fade" id="register_transaction_modal" tabindex="-1" aria-labelledby="ModalRegisterTransaction" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Cadastrar Transação</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body my-2">
          <form method="POST" action="{% url 'register_transaction' %}" enctype="multipart/form-data">
            {% csrf_token %}
    
                <div class="form-row d-flex mb-3 justify-content-center">
                  <div class="form-floating flex-grow-1 mx-2">
                    {{register_transaction_form.date}}
                    <label>Data</label>
                  </div>

                  <div class="form-floating flex-grow-1 mx-2">
                    {{register_transaction_form.ticker}}
                    <label>Ticker</label>
                  </div>
                </div>
                
                <div class="form-row d-flex mb-3 justify-content-center">
                  <div class="form-floating flex-grow-1 mx-2">
                    {{register_transaction_form.operation}}
                    <label>Operação</label>
                  </div>

                  <div class="form-floating flex-grow-1 mx-2">
                    {{register_transaction_form.sort_of}}
                    <label>Tipo</label>
                  </div>
                </div>

                <div class="form-row d-flex mb-3 justify-content-center">
                  <div class="form-floating flex-grow-1 mx-2">
                    {{register_transaction_form.quantity}}
                    <label>Quantidade</label>
                  </div>

                  <div class="form-floating flex-grow-1 mx-2">
                    {{register_transaction_form.unit_price}}
                    <label>Preço Unitário</label>
                  </div>
                </div>

                <div class="d-flex justify-content-end mt-3 mx-2 gap-3">
                  <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-primary" >Salvar Transação</button>
                </div>
          </form>  
        </div>

        

      </div>
    </div>
  </div>
  <!-- Modal (register transaction) ends--------------------------------------------------- -->