{% extends 'base.html' %}
{% load static %}

{% block content %}
  
  <!-- Main Body begins ----------------------------------------------->
  <main role="main" class="col-12 col-xl-10">
    <div class="container-fluid my-2">

      <div class="row justify-content-center align-items-center my-2">
        <div class="col-12 col-md-6 my-2">
          <h4>Bem vindo, <span class="h4">{{ user.first_name }}!</span> </h4>
          <p class="m-0">Acompanhe de perto sua carteira!</p>
        </div>
        <div class="col-12 col-md-6 my-2 d-flex align-items-center justify-content-md-end">
          <h6>{{weekday}}, {{today}}</h6>
        </div>
      </div>

      <div class="d-flex align-items-center mt-4 mb-3 gap-3">
        <div class="fs-5 me-auto">Transações - {{ transactions.count }} registro(s)</div>
        <div class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#register_transaction_modal">Adicionar Transação</div>
        <div class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#load_file_modal">Carregar de Arquivo</div>
      </div>
      <div class="container-fluid border rounded hover-shadow py-4 px-4" style="background-color: white;">
        <table id="transactionsTable" class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Data</th>
              <th scope="col">Ticker</th>
              <th scope="col">Operação</th>
              <th scope="col">Quantidade</th>
              <th scope="col">Preço Unitário</th>
              <th scope="col">Ação</th>
            </tr>
          </thead>
          <tbody>
            {% for transaction in transactions %}
              <tr class="align-middle">
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ transaction.date|date:"d/m/Y" }}</td>
                <td>{{ transaction.ticker }}</td>
                <td>{{ transaction.operation }}</td>
                <td>{{ transaction.quantity }}</td>
                <td>R${{ transaction.unit_price }}</td>
                <td>
                  <a href="#" class="btn btn-outline-primary my-1" style="padding: 4px 8px;"><i class="bi bi-pen"></i></a>
                  <button class="btn btn-outline-danger my-1" style="padding: 4px 8px;"><i class="bi bi-trash3" data-bs-toggle="modal" data-bs-target="#delete_transaction_modal" data-id="{% url 'delete_transaction' transaction.id %}" onclick="sendURLToDelete(this)"></i></button>
                </td>
              </tr>
            {% endfor %}
        </table>
      </div>

    </div>
  </main>
  <!-- Main Body ends --------------------------------------------->
  

  {% include 'includes/message.html' %}
  
  
  <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
  <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
  
  <script src="{% static 'js/transactionsTable.js' %}"></script>
  
{% endblock %}





