{% extends 'base.html' %}
{% load static %}


{% block content %}
  
  <!-- Main Body begins ----------------------------------------------->
  <main role="main" class="col-12 col-xl-10">
    <div class="container-fluid my-2">

      <div class="row justify-content-center align-items-center my-2">
        <div class="col-12 col-md-6 my-2">
          <h4>Bem vindo, <span class="h4">{{user.first_name}}</span> </h4>
          <p class="m-0">Acompanhe de perto sua carteira!</p>
        </div>
        <div class="col-12 col-md-6 my-2 d-flex align-items-center justify-content-md-end">
          <h6>Terça-feira, 20 de agosto de 2023</h6>
        </div>
      </div>



      <h3> Processando transações ...</h3>
      <div class="d-flex align-items-center justify-content-center" style="min-height: 80vh;">
        <span class="spinner-grow text-info" style="width: 5rem; height: 5rem;" role="status">
          <span class="visually-hidden">Loading...</span>
        </span>
        <script>
          const checkProcessRawTransactionsStatusURL = "{% url 'check_process_raw_transactions_status' task_id %}"
          const redirectDashboardURL = "{% url 'dashboard' %}"
        </script>
        <script src="{% static 'js/getProcessTransactionsStatus.js' %}"></script>
      </div>
      

      

    </div>
  </main>
  <!-- Main Body ends --------------------------------------------->
  


  {% include 'includes/message.html' %}

    

{% endblock %}





