
$primary: rgb(0, 102, 150);

@import '../bootstrap-5.3.2/scss/_functions';
@import '../bootstrap-5.3.2/scss/_variables';

$custom-theme-colors: (
    custom-brown: #bd4b00
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

@import '../bootstrap-5.3.2/scss/bootstrap';