.max-width-none {
    width: 100%; 
    max-width: none; 
    height: auto;
}



.hover-shadow{
    transition: all .6s ease;
}

.hover-shadow:hover{
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.5);
    transform: translateY(-2px);
}